{% load static i18n %}
{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        <!-- meta tags -->
        {% block metatags %}
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta http-equiv="x-ua-compatible" content="IE=edge">
        {% endblock %}

        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-M4XSK7P');</script>

        <!-- Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-144227878-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-144227878-1');
        </script>

        <!-- Naver WebMaster tool -->
        <meta name="naver-site-verification" content="8aa2c152d55a1528e081916c55a09dc930951e27"/>

        {% block title %}
            <title>Infludeo - To Fans, For Fans only. Join Now!</title>
        {% endblock %}

        {% block description %}
            <meta name="description" content="Infludeo is a fan membership platform that connects global Kpop fans with Kpop artists. Join the global membership containing a variety of content directly from the artists. Early updates and direct messages to global fans from Kpop artists. All exclusive content are waiting for global fans in Infludeo!">
        {% endblock %}

        {% block og %}
            <!-- Twitter Cards -->
            <meta name="twitter:card" content="summary"/>
            <meta name="twitter:site" content="@infludeo"/>
            <meta name="twitter:creator" content="@infludeo"/>

            <!-- Open graph -->
            <meta property="og:type" content="website">
            <meta property="og:site_name" content="Infludeo">
            <meta property="og:url" content="https://www.infludeo.com">
            <meta property="og:title" content="Infludeo - To Fans, For Fans only. Join Now!">
            <meta property="og:description" content="Infludeo is a fan membership platform that connects global Kpop fans with Kpop artists. Join the global membership containing a variety of content directly from the artists. Early updates and direct messages to global fans from Kpop artists. All exclusive content are waiting for global fans in Infludeo!">
            <meta property="og:image" content="https://infludeo.s3.ap-northeast-2.amazonaws.com/a-meta/og-img-new.png">
        {% endblock %}

        <!-- Del link -->
        <meta name="format-detection" content="telephone=no"/>

        <!-- Favicon -->
        <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">

        <!-- BS4 CSS -->
        <link rel="stylesheet" href="{% static 'vendor/bootstrap/bootstrap.min.css' %}">

        <!-- Unify CSS -->
        <link rel="stylesheet" href="{% static 'css/unify-core.css' %}">
        <link rel="stylesheet" href="{% static 'css/unify-components.css' %}">
        <link rel="stylesheet" href="{% static 'css/unify-globals.css' %}">
        <link rel="stylesheet" href="{% static 'vendor/hamburgers/hamburgers.min.css' %}">
        <link rel="stylesheet" href="{% static 'vendor/hs-megamenu/src/hs.megamenu.css' %}">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="{% static 'css/custom.css' %}">

        <!-- Google font CDN -->
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Jua:300,400,500,700&display=swap" rel="stylesheet">

        <!-- 3rd party CSS -->
        <link rel="stylesheet" href="{% static 'vendor/icon-awesome/css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'vendor/icon-line/css/simple-line-icons.css' %}">
        <link rel="stylesheet" href="{% static 'vendor/icon-hs/style.css' %}">
        <link rel="stylesheet" href="{% static 'vendor/animate.css' %}">
        <link rel="stylesheet" href="{% static 'vendor/slick-carousel/slick/slick.css' %}">
        <link rel="stylesheet" href="{% static 'vendor/slick-carousel/slick/slick-theme.css' %}"/>
        <script src="https://kit.fontawesome.com/362c25075c.js" crossorigin="anonymous"></script>

        {% block head %}
        {% endblock %}

        {% block pixel %}
            <!-- Facebook Pixel Code -->
            <script>
                !function (f, b, e, v, n, t, s) {
                    if (f.fbq) return;
                    n = f.fbq = function () {
                        n.callMethod ?
                            n.callMethod.apply(n, arguments) : n.queue.push(arguments)
                    };
                    if (!f._fbq) f._fbq = n;
                    n.push = n;
                    n.loaded = !0;
                    n.version = '2.0';
                    n.queue = [];
                    t = b.createElement(e);
                    t.async = !0;
                    t.src = v;
                    s = b.getElementsByTagName(e)[0];
                    s.parentNode.insertBefore(t, s)
                }(window, document, 'script',
                    'https://connect.facebook.net/en_US/fbevents.js');
                fbq('init', '522175011766173');
                fbq('track', 'PageView');
                {% block pixel-event %}
                {% endblock %}
            </script>
            <noscript>
                <img height="1" width="1" src="https://www.facebook.com/tr?id=522175011766173&ev=PageView&noscript=1"/>
            </noscript>
        {% endblock %}
    </head>

    <body>
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M4XSK7P" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->

        {% block nav %}
        {% endblock %}

        {% block body %}
        {% endblock %}

        {% block footer %}
        {% endblock %}

        <!-- JS Global -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-migrate-3.1.0.min.js" integrity="sha256-ycJeXbll9m7dHKeaPbXBkZH8BuP99SmPm/8q5O+SbBc=" crossorigin="anonymous"></script>
        <script src="{% static 'vendor/popper.min.js' %}"></script>
        <script src="{% static 'vendor/bootstrap/bootstrap.min.js' %}"></script>

        <!-- Unify & Plugins JS -->
        <script src="{% static 'js/hs.core.js' %}"></script>
        <script src="{% static 'js/helpers/hs.hamburgers.js' %}"></script>
        <script src="{% static 'js/components/hs.header.js' %}"></script>
        <script src="{% static 'vendor/hs-megamenu/src/hs.megamenu.js' %}"></script>
        <script>
            $(window).on('load', function () {
                // initialization of header
                $.HSCore.helpers.HSHamburgers.init('.hamburger');
                // initialization of HSMegaMenu component
                $('.js-mega-menu').HSMegaMenu({
                    event: 'hover',
                    pageContainer: $('.container'),
                    breakpoint: 991
                });
            });
        </script>
        <script src="{% static 'js/components/hs.popup.js' %}"></script>
        <script src="{% static 'vendor/slick-carousel/slick/slick.js' %}"></script>

        <!-- Custom JS -->
        <script src="{% static 'js/custom.js' %}"></script>

        <!-- Iamport JS -->
        <script src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js" type="text/javascript"></script>

        {% block script %}
        {% endblock %}

        <!-- Naver analytics -->
        <script type="text/javascript" src="//wcs.naver.net/wcslog.js"></script>
        <script type="text/javascript">
            if (!wcs_add) var wcs_add = {};
            wcs_add["wa"] = "21701419b4e744";
            if (window.wcs) {
                wcs_do();
            }
        </script>
    </body>
</html>